div.navListings
    div.navImage
        img(class="logo" src="/images/logo/aircnc-navbar-white.png")
    div.navButtons
        button(class="profile" id='profile-button' href="/") Profile
        button(class="listingsButton" id='listings-button' href="/kitchens") Listings
        button(class="logoutButton" id='logout-button' href="/") Log out
