div.navListings
    .navImage
        img(class="logo" src="/images/logo/aircnc-navbar-white.png")
    .navButtons
        button(class="dashboard" id ='dashboard-button' href="/kitchens") Dashboard
        button(class="CreateListing" id ='create-listing-button' href="/") Create Listing
        button(class="logoutButton" id ='logout-button' href="/") Log Out
