doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(type="module" src="/scripts/create-kitchen.js")
        link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
        link(rel="manifest" href="/images/favicon/site.webmanifest")
        link(rel="api" href=`${api}`)
        style
            include ../public/stylesheets/createKitchenStyles/styles/style.css
        title AirCnC - Create a Kitchen
    body
        include includes/host-navbar.pug
        div.errors-container
        div.kitchen-form
            form(action="" id='kitchen-form')
                div.kitchen-form__top
                    div.kitchen-form__top-left
                        div.kitchen-form__name-input
                            label.kitchen-form__label(for="name") Name
                            input.kitchen-form__text-input(type = 'text', name='name')
                        div.kitchen-form__state-input
                            label.kitchen-form__label(for="state") Select State
                            select(name="state", id='states')
                        div.kitchen-form__city-input
                            label.kitchen-form__label(for="city") Select City
                            select(name="city", id='cities')
                        div.kitchen-form__address-input
                            label.kitchen-form__label(for="address") Address
                            input.kitchen-form__text-input(type = 'text', name='address')
                        div.kitchen-form__rate-input
                            label.kitchen-form__label(for="rate") Rate
                            input.kitchen-form__text-input(type="number", name='rate')
                    div.kitchen-form__top-right
                        div.top-right__top
                            div.kitchen-form__img-text
                                label(for="file", class="imgFile") Upload Image
                            div.kitchen-form__img-input
                                input(type='file', name='file' multiple, class="imgButton" id='img-upload')
                        div.top-right__bottom
                            div.kitchen-form__description-input
                                label(for="description", class="descriptionText") Description
                                textarea(name="description", type='text', class= "descriptionTextArea")
                div.kitchen-form__middle
                    div(id='features' class='features')
                        div.features__left(id='features__left')
                        div.features__right(id='features__right')
                div.kitchen-form__bottom
                    button(type='submit' id="create-kitchen-button") Create Kitchen
