doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(type="module" src="/scripts/create-kitchen.js")
        link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
        link(rel="manifest" href="/images/favicon/site.webmanifest")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
        script(defer src="https://code.getmdl.io/1.3.0/material.min.js")
        link(rel="api" href=`${api}`)
        style
            include ../public/stylesheets/createKitchenStyles/styles/style.css
        title AirCnC - Create a Kitchen
    body
        include includes/host-navbar.pug
        .errors-container
        
        .create-listing__container
            .mld-card.mdl-shadow--2dp
                .mdl-card__title
                    h2.mdl-card__title-text Kitchen Description
                .mdl-card__supporting-text
                    form(action="" id='kitchen-form')
                        .kitchen-form__name-input
                            label.kitchen-form__label(for="name") Name
                            input.kitchen-form__text-input(type = 'text', name='name')
                        .kitchen-form__state-input
                            label.kitchen-form__label(for="state") Select State
                            select(name="state", id='states')
                        .kitchen-form__city-input
                            label.kitchen-form__label(for="city") Select City
                            select(name="city", id='cities')
                        .kitchen-form__address-input
                            label.kitchen-form__label(for="address") Address
                            input.kitchen-form__text-input(type = 'text', name='address')
                        .kitchen-form__rate-input
                            label.kitchen-form__label(for="rate") Rate
                            input.kitchen-form__text-input(type="number", name='rate')
                        .kitchen-form__description-input
                            label(for="description", class="description__text") Description
                            textarea(name="description", type="text", class="description__text-area")
                        .kitchen-form__img-text
                            label(for="file", class="imgFile") Upload Image
                        .kitchen-form__img-input
                            input(type='file', name='file' multiple, class="imgButton" id='img-upload')
                        //- add drag and drop here
                .mld-card__actions.mdl-card--border
                    

            table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
                thead
                    tr
                        th Feature
                        th 
                        th Included
                tbody.features__table

        .kitchen-form__bottom
                    button(type='submit' id="create-kitchen-button") Create Kitchen
