doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../public/stylesheets/styles/style.css
        title AirCnC
        link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
        link(rel="manifest" href="/images/favicon/site.webmanifest")
        <meta property='og:title' content="AirCnC" />
        <meta property='og:image' content="%PUBLIC_URL%/images/landing-page.png" />
        <meta property='og:description' content="Rent or host your beautiful kitchens around you!" />
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="200">
        <meta property="og:image:height" content="200">
        //- link(rel="api" href=`${api}`)
    body
        div.nav
            a(class="hostSignupButton") Host Your Kitchen
            a(href="https://github.com/arkaneshiro/aircnc") Help
            button(class="signupButton") Sign Up
            button(class="loginButton" href="/log-in") Log in
        div.logo
            img(src='/images/logo/aircnc-splash-page-teal.png')
        div.container

        .login
            include login.pug
