doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
    link(rel="manifest" href="/images/favicon/site.webmanifest")
    script(type="module" src="/scripts/kitchen-details.js")
    link(rel="stylesheet" href="/node_modules/material-design-lite/material.min.css")
    script(src="/node_modules/material-design-lite/material.min.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="api" href=`${api}`)

    style
      include ../public/stylesheets/KitchenDetailsStyle/styles/style.css
    title AirCnC - Kitchen Details
  body
    div.navBar
      .navImage
        img(class="logo" src="/images/logo/aircnc-navbar-white.png")
      div.navButtons
        button(class="profile" id='profile-button') Profile
        button(class="listings" id='listings-button') Listings
        button(class="logoutButton" id='logout-button' href="http://localhost:4000/log-out") Log out
    .navListings.card.card.c
.card.card-body
    .kitchenDetails.card.car
      .kitchenDetails__row-1.card.card
        .kitchenDetails__rownfo
      .kitchenDetails__row-2
        .kitchenDetails__row-2__images
      .kitchenDetails__row-3
        //- .kitchenDetails__row-header.card.card.c
        //- .kitchenDetails__row-3__deta
      .kitchenDetails__row-4
        #features-header.kitchenDetails__row-header
        .kitchenDetails__row-4__features
      .kitchenDetails__row-5
