<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
		link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
		link(rel="manifest" href="/images/favicon/site.webmanifest")
		link(rel="api" href=`${api}`)
		title Listings Checkout
		script(async defer type="module" src="/scripts/listings-checkout.js")
		style
			include ../public/stylesheets/ListingCheckoutStyles/styles/style.css
	body
		.navBar
			.navImage
				img(class="logo" src="/images/logo/aircnc-navbar-white.png")
			div.navButtons
				button(id="profile-button" class="profile") Profile
				button(id="listings-button" class="listingsButton" href="/kitchens") Listings
				button(id="logout-button" class="logoutButton" href="/") Log out
		.navListings
		#booking-form.bookings-form
			.bookings-form__left
				#bookings-form__left-headerReview
				.bookings-form__left-top
				.bookings-form__left-bottom
					.bookings-form__left-bottom__features
						.bookings-form__left-bottom__features-header Features
						.bookings-form__left-bottom__features-body.card
					.bookings-form__left-bottom__calendar
						.card
							h3#monthAndYear
							table#calendar.table.table-bordered
								thead
								tr
									th Sun
									th Mon
									th Tue
									th Wed
									th Thu
									th Fri
									th Sat
								tbody#calendar-body

							.bookings-form__calendar-pn
								button(id="previous" class="btn btn-outline-primary") Previous
								button(id="next" class="btn btn-outline-primary") Next
							.form-inline
								.jump-to
									label(for="month" class="month-label") Jump To:
									select(id="month" class="form-control col-md-6" name="month")
										option(value="0") Jan
										option(value="1") Feb
										option(value="2") Mar
										option(value="3") Apr
										option(value="4") May
										option(value="5") Jun
										option(value="6") Jul
										option(value="7") Aug
										option(value="8") Sep
										option(value="9") Oct
										option(value="10") Nov
										option(value="11") Dec

									label(for="year")
									select(id="year" class="form-control col-sm-4" name="year")
										option(value=2020) 2020
										option(value=2021) 2021
										option(value=2022) 2022
										option(value=2023) 2023
										option(value=2024) 2024

								#set-time-form.booking-details__set-time.hidden
									form(class="bookings__start-end-time")
										.bookings__start-end-time-container
											.start-time
												label(for="startTime" class="bookings__start-end-time__label startTime-label") Start Time
												select(id="startTime" class="form-control" name="startTime")
													option(value="5:00:00") 5:00AM
													option(value="6:00:00") 6:00AM
													option(value="7:00:00") 7:00AM
													option(value="8:00:00") 8:00AM
													option(value="9:00:00") 9:00AM
													option(value="10:00:00") 10:00AM
													option(value="11:00:00") 11:00AM
													option(value="12:00:00") 12:00PM
													option(value="13:00:00") 1:00PM
													option(value="14:00:00") 2:00PM
													option(value="15:00:00") 3:00PM
													option(value="16:00:00") 4:00PM
													option(value="17:00:00") 5:00PM
													option(value="18:00:00") 6:00PM
													option(value="19:00:00") 7:00PM
													option(value="20:00:00") 8:00PM
													option(value="21:00:00") 9:00PM
													option(value="22:00:00") 10:00PM
													option(value="23:00:00") 11:00PM
											.end-time
												label(for="endTime" class="bookings__start-end-time__label endTime-label") End Time
												select(id="endTime" class="form-control" name="startTime")
													option(value="6:00:00") 6:00AM
													option(value="7:00:00") 7:00AM
													option(value="8:00:00") 8:00AM
													option(value="9:00:00") 9:00AM
													option(value="10:00:00") 10:00AM
													option(value="11:00:00") 11:00AM
													option(value="12:00:00") 12:00PM
													option(value="13:00:00") 1:00PM
													option(value="14:00:00") 2:00PM
													option(value="15:00:00") 3:00PM
													option(value="16:00:00") 4:00PM
													option(value="17:00:00") 5:00PM
													option(value="18:00:00") 6:00PM
													option(value="19:00:00") 7:00PM
													option(value="20:00:00") 8:00PM
													option(value="21:00:00") 9:00PM
													option(value="22:00:00") 10:00PM
													option(value="23:00:00") 11:00PM
													option(value="23:00:00") 12:00AM
										button(type="submit" id="confirmTime") Confirm Time
			.bookings-form__right
				.bookings-form__right-top
					.bookings-form__imgs
				.bookings-form__right-bottom
					.bookings-form__right-bottom-checkout-total
					.bookings-form__submit-button
						form(class="checkout__submit-booking")
							button(id="bookings-form__right-bottom-submit" class="btn btn-primary" type="submit") Book Now!
					//- script(async defer src="/scripts/listing-checkout.js")
		script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
