doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(type="module" src="/scripts/listings.js")
        link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
        link(rel="manifest" href="/images/favicon/site.webmanifest")
        link(rel="api" href=`${api}`)
        style
            include ../public/stylesheets/mainListingsStyle/styles/style.css
        title AirCnC - Kitchen Details
    body
        div.navListings
            form(action="/listings" method="get")
                img(class="logo" src="/images/logo/aircnc-navbar-white.png")
                input(id="searchInput" type="search" class="searchBar" name="search" placeholder="search")
                    //- button(id="searchButton" type="submit") Search
            div
                button(class="profile" id='profile-button' href="http://profile") Profile
                button(class="listingsButton" id='listings-button' href="http://listings") Listings
                button(class="logoutButton" id='logout-button' href="http://log-out") Log out
        .mapContainer
            #mapAndListings
                #kitchenListings
                .map-container
                    #map

        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDscju6O6knNTt9zh71EQkt7Lk1XeejhyQ&callback=initMap")
