body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mapContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

#mapAndListings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 50%;
  -webkit-box-direction: none;
}

#kitchenListings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#map {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  grid-row: auto;
  height: 1000px;
  width: 700px;
  overflow: none;
  position: fixed;
}

.map-container {
  position: fixed;
  right: 0;
}

.kitchenListing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #004873;
  padding: 10px;
  height: 200px;
}

.kitchenListing__img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -o-object-fit: cover;
     object-fit: cover;
}

.kitchenListing__img > img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.kitchenListing__userInfo {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 20px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-weight: 500;
}

.kitchenListing__location {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 13;
  opacity: 0.7;
}

.kitchenListing__features {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 15px;
  text-align: justified;
  width: 80%;
  opacity: .8;
  letter-spacing: 1px;
  padding: 10px;
  font-weight: bold;
}

.kitchenListing__starRating {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.kitchenListing__starRating:before {
  content: "\2B50";
  padding-bottom: 5px;
}

.listing-info-container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 10px;
}

.kitchenListing__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 15px;
  font-weight: bold;
}

.kitchenListing__wouldRentAgain {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 13px;
}

.kitchenListing__wouldRentAgain:before {
  content: "\2B50";
  padding-bottom: 5px;
}

.kitchenListing__topLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.kitchenListing__bottomLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.kitchenListing__userInfo-link {
  text-decoration: none;
  color: #004873;
}

.errors-container {
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #c73535cc;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.info-window {
  max-width: 190px;
}

.info-window__picture {
  width: 190px;
  height: 130px;
}

.infow-window__name {
  width: 80%;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
}

.info-window__reviews-icon {
  width: 15px;
  height: 15px;
}

.info-window__picture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-window__features {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  background-color: #ffffff;
}

.navListings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  border: none;
  outline: none;
}

.searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: none;
  border: none;
  outline: none;
  border: 1.25px solid #ffffff;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px auto;
  font-size: 20px;
  margin-left: 20px;
  color: #ffffff;
  padding: 5px;
}

.searchBar::-webkit-input-placeholder {
  color: #ffffff;
  opacity: .6;
}

.searchBar:-ms-input-placeholder {
  color: #ffffff;
  opacity: .6;
}

.searchBar::-ms-input-placeholder {
  color: #ffffff;
  opacity: .6;
}

.searchBar::placeholder {
  color: #ffffff;
  opacity: .6;
}

form {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
}

.logo {
  padding-left: 5px;
  margin-bottom: 5px;
}

.profile, .listingsButton, .logoutButton {
  text-align: center;
  font-size: 19px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
  text-decoration: none;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 5px 16px;
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
  font-weight: 400;
  color: #ffffff;
}

.profile:hover, .listingsButton:hover, .logoutButton:hover {
  color: #8BD9D9;
  font-size: 20px;
  font-weight: bold;
}

.navListings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: #004873;
  z-index: 100;
  border-bottom: 1px solid #3b3b3bcc;
}
/*# sourceMappingURL=style.css.map */