body {
  background-color: #ffffff;
  margin: 0 auto;
}

.navListings {
  background-color: #004873;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navImage {
  padding: 5px 0px 0px 0px;
}

.dashboard, .CreateListing, .logoutButton {
  text-align: center;
  font-size: 19px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
  text-decoration: none;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 5px 16px;
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
  font-weight: 400;
}

.dashboard:hover, .CreateListing:hover, .logoutButton:hover {
  color: #8BD9D9;
  font-size: 20px;
  font-weight: bold;
}

.create-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #004873;
  height: 10%;
}

.kitchen-form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kitchen-form__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 0px;
          flex: 2 0 0;
}

.top-right__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  margin: 10px;
}

.kitchen-form__img-text {
  padding-right: 10px;
  padding-left: 50px;
  padding-top: 40px;
  text-align: center;
}

.imgButton {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  width: 250px;
  padding-top: 10px;
  outline: none;
}

.imgFile {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 25px;
  outline: none;
}

.kitchen-form__img-input {
  text-align: center;
  padding-left: 185px;
}

.description__text-area {
  height: 250px;
  border: 2px solid #004873;
  border-radius: 15px;
  outline: none;
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.description__text {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

#kitchen-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.kitchen-form__name-input, .kitchen-form__state-input, div.kitchen-form__city-input, .kitchen-form__address-input, .kitchen-form__rate-input {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px;
  font-size: 20px;
  outline: none;
}

.kitchen-form__label {
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
}

#states, #cities {
  border: 1px solid #004873;
}

.kitchen-form__text-input {
  width: 100%;
  border: 1px solid #004873;
  outline: none;
  border-radius: 6px;
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.kitchen-form__description-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.kitchen-form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__feature {
  height: 60%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.mld-card {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 500px;
}

.mdl-card__title-text {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.mdl-card__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-js-data-table {
  width: 450px;
}

tr {
  margin: auto;
}

.features__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.features__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  border: 1px solid #004873;
  border-radius: 20px;
}

.errors-container {
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #c73535cc;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.features__img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.features__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 15px;
}

.features__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.features__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kitchen-form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
}

.create-listing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto 0;
}

#create-kitchen-button {
  border: 2px solid #004873;
  border-radius: 15px;
  text-align: center;
  font-size: 19px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #004873;
  text-decoration: none;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 5px 16px;
  -webkit-appearance: none;
  background: none;
  outline: none;
  font-weight: 400;
}

#create-kitchen-button:hover {
  color: #8BD9D9;
  font-size: 20px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */