body {
  margin: 0 auto;
}

.navListings {
  background-color: #004873;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navImage {
  padding: 5px 0px 0px 0px;
}

.kitchen-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-bottom: 1px solid #004873;
  padding: 10px;
  height: 100%;
}

.dashboard, .CreateListing, .logoutButton {
  text-align: center;
  font-size: 19px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
  text-decoration: none;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 5px 16px;
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
  font-weight: 400;
}

.dashboard:hover, .CreateListing:hover, .logoutButton:hover {
  color: #8BD9D9;
  font-size: 20px;
  font-weight: bold;
}

.kitchen-image-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -o-object-fit: cover;
     object-fit: cover;
}

.kitchen-image-container > img {
  height: 100%;
  width: 55%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0px;
}

.kitchens-container-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-decoration: underline;
}

.kitchen-detail-container {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  height: 50%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.kitchen-detail-container *:not(:last-child) {
  margin-bottom: 10px;
}

.host-bookings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bookings-container-label {
  font-size: 30px;
  text-align: center;
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.bookings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.pastBookings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.past-booking-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.current-booking-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.past-bookings {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.past-booking-detail {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px;
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.past-booking-kitchen-name {
  font-weight: bold;
}

h3, .current-booking-header {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-weight: bold;
}

.currentBookings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-bookings {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.current-bookings .current-booking-detail {
  min-height: 0px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px;
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.current-booking-kitchen-name {
  font-weight: bold;
}

.cancel-booking-button {
  text-align: center;
  font-size: 19px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #004873;
  text-decoration: none;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 5px 16px;
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
  font-weight: 400;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cancel-booking-button:hover {
  color: #8BD9D9;
  font-size: 20px;
  font-weight: bold;
}

.past-booking-confirmation {
  color: #0FBFAE;
  font-weight: bold;
}

.error-container {
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #c73535cc;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.dashboard-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #004873;
}

.guest-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250%;
  width: 512px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.guest-review-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.guest-review-label {
  color: #004873;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0px;
}

.submit-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

button {
  text-align: center;
  font-size: 19px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #004873;
  text-decoration: none;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 5px 16px;
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
  font-weight: 400;
}

button:hover {
  color: #8BD9D9;
  font-size: 20px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */